* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("/assets/icons/form-background.jpg") center/cover no-repeat;
}

form {
  width: 650px;
  height: 650px;
  background-color: #e1e1e1;
}
.main {
  display: flex;
  padding: 10px 75px 100px;
  flex-direction: column;
}
.input-container {
  display: flex;
  position: relative;
}

.custum-inp {
  height: 90px;
  width: 100%;
  border: 1px solid lightgray;
  border-left: none;
  padding: 30px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.custum-inp.pass {
  padding-right: 36px;
}

.custum-inp:focus-visible {
  outline: none;
}

.eye {
  background-image: url("/assets/icons/eye.png");
  background-size: 100% 100%;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-75%);
  width: 50px;
  height: 40px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.input-icon {
  width: 90px;
  min-width: 90px;
  height: 90px;
  border: 1px solid lightgray;
  border-right: none;
  cursor: pointer;
  margin-bottom: 30px;
}

.input-icon.castle {
  background: url("/assets/icons/сastle.png") center no-repeat;
  background-size: 40%;
  background-color: #e65848;
}
.input-icon.people {
  background: url("/assets/icons/people.png") center no-repeat;
  background-size: 40%;
  background-color: #e65848;
}

.clean-form {
  background: url("/assets/icons/close.png") center no-repeat;
  background-size: 60%;
  cursor: pointer;
}

.clean-form,
.enter {
  border: none;
  background-color: #e65848;
}

.close-form {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px;
}

h1 {
  color: #343844;
  font-weight: 400;
  font-size: 50px;
  align-self: center;
}

.register {
  display: flex;
  align-self: center;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 60px;
  gap: 10px;
}
.register-link {
  color: #ffffff;
}
.enter {
  width: 270px;
  height: 90px;
  font-weight: 400;
  font-size: 40px;
  color: #ffffff;
  cursor: pointer;
}
#checkbox-pass,
.clean-form {
  width: 30px;
  height: 30px;
}

.enter-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 40px;
}
.remember {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
  color: #343844;
}

.chek {
  margin-left: 30px;
  cursor: pointer;
}

.forgot-password {
  text-decoration: none;
  color: #343844;
  align-self: flex-end;
}

.remember-conteiner {
  display: flex;
  align-items: center;
}
